
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "WVC | Home";
    ViewBag.StaticMenuName = "Principal";
    ViewBag.TituloPagina = "Principal";
}

<div align="center">
    <img src="~/Imagenes/WVCLogo.png" alt="Logo app" style="width: 60%; height: 30%;" />
    @*<table align="center">
        <tr>
            <td colspan="4">
                <img src="~/Imagenes/WVCLogo.png" alt="Logo app" style="width: 60%; height: 30%;" />
            </td>
        </tr>
        <tr>
            <td><img src="~/Imagenes/fonafifo.png" alt="Logo FONAFIFO" style="width: 60%; height: 30%;" /></td>
            <td><img src="~/Imagenes/gobierno.png" alt="Logo CR" style="width: 60%; height: 30%;" /></td>
            <td><img src="~/Imagenes/minae.png" alt="Logo Minae" style="width: 60%; height: 30%;" /></td>
            <td><img src="~/Imagenes/esen.png" alt="Logo escencials" style="width: 60%; height: 30%;" /></td>
        </tr>
    </table>*@
</div>

